@import "~bootstrap/scss/bootstrap";
@import './_colors';

html, body {
  height: 100%;
}

body {
  background-color: $background;
}

.page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 6rem;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: lightgray;
}